HOST_IP=192.168.0.201
TIMEZONE=America/Edmonton
TRIGGER_SECRET=changeme
PIHOLE_WEBPASSWORD=changeme
MEALIE_TOKEN_FILE=/root/scripts/mealie_token.txt
KANBOARD_TOKEN_FILE=/root/scripts/kanboard_token.txt
HOLIDAY_COUNTRY_FILE=/root/scripts/holiday_country.txt
